Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Root element: Hotels -->
	<xs:element name="Hotels">
		<xs:complexType>
			<xs:sequence>
				<!-- Multiple Hotel elements allowed -->
				<xs:element name="Hotel" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<!-- Name element (required, appears once) -->
							<xs:element name="Name" type="xs:string"/>

							<!-- Phone element (required, can appear multiple times) -->
							<xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>

							<!-- Address element (required, appears once) -->
							<xs:element name="Address">
								<xs:complexType>
									<xs:sequence>
										<!-- Address sub-elements (all required, appear once each) -->
										<xs:element name="Number" type="xs:string"/>
										<xs:element name="Street" type="xs:string"/>
										<xs:element name="City" type="xs:string"/>
										<xs:element name="State" type="xs:string"/>
										<xs:element name="Zip" type="xs:string"/>
									</xs:sequence>

									<!-- NearestAirport attribute (REQUIRED) -->
									<xs:attribute name="NearestAirport" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>

						<!-- Rating attribute (OPTIONAL) -->
						<xs:attribute name="Rating" type="xs:decimal" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>